/* hi */

h1	{
	color: red;
}
body {
/*	background-image: url(../Bilder/misakamisaka.gif); */
	background-image: url(../Bilder/l.png);
}
#videoElement {
	width: 500px;
	height: 375px;
	background-color: #666;
}
.videobox {	
	width: 500px;
	height: 375px;
	border: 10px #333 solid;
}
.blogbg {
	background-color: #c23737;
}
.main {
	background-color: #c23737;
	width:100%;
	height:5em;
}
.title {
	background: brown;
	float: left;
	height: 100%;
	width: auto;
}
.login-field {
	height: 5px;
	width: 40%;
	zoom: 111%;
	top: 0px;
	position: absolute;
	border: 5px solid #F9F9F9;
	margin: #F9F9F9;
	padding: #F9F9F9;

}
.kasten {
	border: 5px solid #F9F9F9;
	margin: 5px solid #F9F9F9;
	padding: 5px solid #F9F9F9;
}
.text-field {
	width:47%;
	margin:0px;
	padding:05px;
	border:2px outset black;

}
html {
	color: red
}
body {
	color: blue;
	color: #00FF0050;
	color: hsl(117, 69%, 60%);
}
.box {
	font-size: 30px;
	height: 20％;
	width: 40%;
	padding: 5%;
	margin: 10px;
	border: 5px solid black;
	background-color: red;
	max-width: 500px;
}
.check-box {
	position: absolute;
	top: -20%;
	left: -20%;
	display: block;
	width: 140%;
	height: 140%;
	margin: 0px;
	padding: 0px;
	background: rgb(255, 255, 255);
	border: 0px;
	opacity: 0;
}
ul {
	display: grid;
	list-style-type: none;
	margin-top: 1em;
	margin-bottom: 1 em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0px;
  }
.abd {
	color: rgb(192, 235, 4);
}
.bild {
	max-width: 500px;
}
.line {
	height: 50px;
	margin-left: -100%;
	margin-right: -100%;
	background-color: black;
	display: flex;
}
.rickroll {
	color: yellow;
}
.worldsendharem {
	height: 200000cm;
	margin-top: 100cm;
	margin-bottom: 100cm;
}
